{% extends "layout.html" %}

{% block content %}

<div class="container">
    <div class="row">
        <div class="col-md-4">
            <div class="panel">
                <div class="panel-heading">
                    <h3 class="panel-title">
                        Choose an employee
                    </h3>
                </div>
                <div class="panel-body">
                    <ul id="employeelist" class="list-group">
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="panel">
                <div class="panel-heading">
                    <h3 class="panel-title">
                        Choose a paycode
                    </h3>
                </div>
                <div class="panel-body">
                    <ul id="paycodelist" class="list-group">
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="panel">
                <div class="panel-heading">
                    <h3 class="panel-title">
                        Register transaction
                    </h3>
                </div>
                <div class="panel-body">
                    <input type="number" id="txtTimer" placeholder="Number of hours" pattern="\d*" name="entry-size">
                    <input type="number" id="txtPris" placeholder="Price" pattern="\d*" name="entry-size">
                    
                    <hr/>

                    <button type="button" class="btn btn-primary" onclick="createtransaction()">Register hours</button>

                    <div class="alert alert-success" role="alert" id="transactionsuccess" hidden="true">
                        <span id="txtjobid" hidden="true"></span>
                        <strong>Transaction created!</strong> Press the button below to check status.
                        <br />
                        <button type="button" class="btn" onclick="checktransstatus()">Check status</button>
                        <br />
                        <strong id="transactionstatus"></strong>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}

{% block script %}

<script>
    function bodyload() {
        var getemployeesurl = "{{ url_for('getemployees') }}";

        $.get(getemployeesurl,
            function (employeedata) {
                employeedata.forEach(function (employee) {
                    var item = $("<li/>");
                    item.addClass("list-group-item");
                    item.attr("id", "emp_" + employee.id);
                    item.text(employee.firstName + " " + employee.lastName);
                    item.click(function () { selectemployee(employee.id) });

                    $("#employeelist").append(item);
                })
            });

        var getpaycodesurl = "{{ url_for('getpaycodes') }}";

        $.get(getpaycodesurl,
            function (paycodedata) {
                paycodedata.forEach(function (paycode) {
                    var item = $("<li/>");
                    item.addClass("list-group-item");
                    item.text(paycode.name.no);
                    item.attr("id", "pc_" + paycode.id);
                    item.click(function () { selectpaycode(paycode.id) });

                    $("#paycodelist").append(item);
                })
            });
    }

    function selectemployee(id) {
        $("#employeelist").children().removeClass("active");
        $("#emp_" + id).addClass("active");
    }

    function selectpaycode(id) {
        $("#paycodelist").children().removeClass("active");
        $("#pc_" + id).addClass("active");
    }

    function createtransaction() {
        var selectedEmployee = $("#employeelist").children(".active");

        if (selectedEmployee.length != 1) {
            alert("You need to choose an employee");
            return;
        }

        var selectedPaycode = $("#paycodelist").children(".active");

        if (selectedPaycode.length != 1) {
            alert("You need to choose a paycode");
            return;
        }

        var reqData = {
            "employeeid": selectedEmployee[0].id.replace("emp_", ""),
            "paycodeid": selectedPaycode[0].id.replace("pc_", ""),
            "quantity": $("#txtTimer").val(),
            "price": $("#txtPris").val()
        }

        createtransurl = "{{ url_for('createtransaction') }}";

        $.ajax({
            method: "POST",
            url: createtransurl,
            contentType: "application/json",
            data: JSON.stringify(reqData),
            success: function (data, textStatus, jqXHR) {
                $("#transactionsuccess").show();
                $("#txtjobid").text(data);
            },
            error: function (jqXHR, textStatus, errorThrown) {

            }
        });
    }

    function checktransstatus() {
        var checkstatusurl = "{{ url_for('getjobstatus', jobid='') }}";

        $.get(checkstatusurl + $("#txtjobid").text(),
            function (statusdata) {
                $("#transactionstatus").text(statusdata);
            });
    }

</script>

{% endblock %}